.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header a span {
  margin-left: 8px;
}