<mat-card>
  <mat-card-title>Novo Produto</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput [(ngModel)]="product.name" name="name" placeholder="Nome">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="product.price" name="price" placeholder="Preço (R$)">
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="createProduct()">Adicionar Produto</button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
